@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.header {
    width: 100%;
    height: 51px;

    border-bottom: 0.5px solid #E4E4E4;
    background: #000C2D;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    display: flex;

    margin-top: 1px;
    margin-left: 40px;

    font-size: 40px;
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;

}


.logout {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: aliceblue;
    cursor: pointer;
}